*{
    box-sizing: border-box;
    font-family: Arial;
}
#grid{
    display: grid;
    grid-template-columns: 7fr auto;
    grid-template-rows: auto auto;
}

header{
    background-color: rgb(32, 27, 17);
    margin: 1%;
    color: rgb(218, 147, 0);
    border-radius: 25px;
    padding: 20px;
}
body{
    background-color: rgb(118, 91, 36);
}

footer{
    text-align:right;
    color:rgb(1, 18, 49);
    clear: both;
    position: fixed;
    bottom: 0;
    right: 10px;
}

h2{
    text-shadow: 2px 2px rgb(118, 91, 36);
    text-transform: uppercase;
}
#content{
    background-color: rgb(255, 171, 0);
    grid-column: 1;
    grid-row: 1;
    border-radius: 25px;
    padding: 8px;
}
#ad{
    grid-column: 2;
    grid-row: 1;
    background-color: rgb(7, 6, 5);
    right: 0;
    color: white;
}
#gen{
    grid-column: 1;
    grid-row: 2;
}

#tablPuzz{
    border-collapse: collapse;
    border: 3px solid rgb(32, 27, 17);
}
#showTable{
    float: right;
    border-collapse: collapse;
    border: 3px solid rgb(32, 27, 17);
}
#tablPuzz th, td{
    margin: 1px;
    border: 3px solid rgb(32, 27, 17);
}
img{
    width: 95px;
}
#show{
    width: 190px;
}